{{- $name := promptStringOnce . "name" "What is your name" "endou-mame" -}}
{{- $email := promptStringOnce . "email" "What is your email address" "1125katanohimeji0521@gmail.com" -}}

sourceDir = {{ printf "~/ghq/github.com/%s/dotfiles" $name | quote }}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
